/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #000;
    height: 190px; /* Altura del header */
    width: 100%;
    background-image: url('image/logo.jpeg'); /* Asegúrate de que la ruta de la imagen es correcta */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center center; /* Centra la imagen */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carrusel */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 40px auto;
    width: 100%;
    max-width: 100%;
    height: 400px; /* Altura adecuada del carrusel */
}

.poster {
    position: relative;
    text-align: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7; /* Añadido para el difuminado del fondo */
    transition: opacity 0.3s ease;
}

/* Estilo del overlay con el nombre de la película */
.overlay {
    position: absolute;
    bottom: 20px; /* Ajusta la posición vertical del texto */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.poster:hover .overlay {
    opacity: 1; /* El nombre de la película aparecerá al pasar el mouse */
}

.poster:hover img {
    opacity: 0.5; /* El poster se oscurecerá al pasar el mouse */
}

/* Flechas del carrusel */
.slick-prev, .slick-next {
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    z-index: 2;
}

.slick-prev:before, .slick-next:before {
    content: ""; /* Eliminar texto */
    color: #fff;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

/* Estilo de los puntos (dots) */
.slick-dots li button:before {
    color: #fff;
}

.slick-dots li.slick-active button:before {
    color: #e50914;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel {
        max-width: 100%;
    }
    
    .poster img {
        max-width: 100%;
    }
}

/* Estilos comunes para todas las páginas */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Otros ajustes */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 18px;
}

nav ul li a:hover {
    color: #e50914;
}
