/* General */
body {
    margin: 0;
    font-family: 'Oswald', sans-serif; /* Fuente principal */
    background-color: black;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

/* Header */
.header img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

/* Sección HOY EN CARTELERA */
.now-playing h2 {
    margin: 0;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
}

/* Detalles de la película */
.movie-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

/* Póster */
.poster img {
    width: 200px;
    height: auto;
    border: 2px solid white;
}

/* Descripción */
.description {
    max-width: 600px;
    text-align: left;
}

.description h3 {
    color: red;
    margin-bottom: 10px;
}

/* Reproductores */
.video-player {
    margin-top: 20px;
}

.video-player h3 {
    color: red;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.movie-video {
    max-width: 90%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}

/* Solución para márgenes blancas en pantalla completa */
.movie-video::-webkit-media-controls {
    background-color: black;
}
